.view-profile {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
    display: flex;
}
.view-profile-sidebar-container {
	width: 25%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin-top: 30px;
    flex-direction: column;
    gap: 2em;
}
.view-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor:pointer;
}
.view-profile-react-big {
	font-size: 33px;
    cursor:pointer;
}
.view-profile-edit-button {
	width:12%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: var(--text-color);
}    
.view-profile-edit-button:hover {
    border-width: 5px;
}
.view-profile-member {
    color: var(--text-muted-color);
    font-size: normal;
}
.view-profile-name-desc-container {
    width: 100%;
    height: 20%;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-muted-color);
}
.view-profile-name-button {
    display: flex;
    width: 100%;
    gap: 1.3em;
    height: 80px;
    align-items: center;
    margin-bottom: 10px;
}
.view-profile-name-button h1 {
    color: var(--text-color);
}
.view-profile-desc {
    color: var(--text-muted-color);
    width: 90%;
    word-break: break-word;
    font-size: 17px;
}
.view-profile-name-post-container {
    width: 75%;
    display: flex;
    gap: 2em;
    flex-direction: column;
}
.view-profile-posts-container {
    width: 100%;
}
.view-profle-no-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.view-profle-no-posts img {
    width: 200px;
}
.view-profle-no-posts h3 {
    color: var(--text-muted-color);
}
.view-profle-no-posts p {
    color: var(--text-muted-color);
}
.view-post-with-posts {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill,290px);
}
.three-dots-menu {
    position: absolute;
    z-index: 2;
    right: 5px;
    fill: var(--text-color);
}
.dot-menu-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.dots {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--text-color);
}
.dot-menu-container:hover  {
    background: var(--text-hover-color);
}
.dot-menu-edit-delete {
    position: absolute;
    top: 30px;
    right: -90px;
    display: flex;
    flex-direction: column;
    width: 100px;
    background: var(--bg-color);
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transform-origin: top left;
    transition: all 0.3s ease-in-out;
}

.three-dots-menu.show-dot-menu ~ .dot-menu-edit-delete{
    transform: scale(1);
}
.dot-menu-edit-delete span {
    width: 100%;
    padding: 10px;
    color: var(--text-muted-color);
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.dot-menu-edit-delete span:hover {
    color: var(--text-color);
    background: var(--text-hover-color);
}
.view-profile-delete-modal {
    width: 420px;
    background: var(--bg-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding:20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}
.view-profile-delete-modal-h2{
    margin-bottom: 15px;
} 
.view-profile-delete-modal-h3 {
    width: 100%;
    margin-bottom: 20px;
    word-break: break-word;
}
.view-profile-modal-buttons {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.view-profile-cancel-btn,
.view-profile-delete-btn {
    width: 120px;
    border: none;
    outline: none;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-color);
    background: var(--text-muted-color);
}
.view-profile-delete-btn {
    background: #ff4b5b;
    color: var(--bg-color);
}