.user-profile {
	width: 100%;
	padding-bottom: 50px;
	height: 100vh;
	/* background: var(--footer-bg-color); */
	background-color: #ccc;
} 
.user-profile-avatar-google {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor:pointer;
}
.user-profile-avatar-react {
	cursor: pointer;
}
.user-profile-avatar-name-container {
	width: 25%;
	height: 110px;
	background: var(--bg-color);
	/* padding-left: 20px; */
	border-radius: 80px;
	display: flex;
	align-items: center;
	position: relative;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	gap: 2em;
	color: var(--text-color);
}
.user-profile-avatar-name-container h1{
	/* display: flex;
text-align: center;
position: relative; */
padding-left: 120px;
}

.user-profile-published-ad-container{
	position: relative;
	top: 100px;
	left: 100px;
	color: var(--text-color);
	height: 68vh;
	
}
.user-profile-published-ad-container h3 {
	margin-bottom: 5px;
}
.user-profile-ads-container {
	width: 80%;   
	height: 50vh;
	padding-bottom: 15px;
	overflow-y: scroll ;
	display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill,290px);
}
.user-profile-ads-container::-webkit-scrollbar {
	width: 8px;
}
.user-profile-ads-container::-webkit-scrollbar-thumb {
	background: var(--footer-bg-color);
	border-radius: 10px;
}
.user-profile-ads-container:hover::-webkit-scrollbar-thumb {
	background: #ccc;
}